body {
    background-image: url('../img/Forest.jpg');
    background-size: cover; /* Pour s'assurer que l'image couvre toute la page */
    background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
    background-attachment: fixed; /* Pour que l'arrière-plan reste fixe lors du défilement */
    padding-bottom:80px;

}

header {
    background: transparent;
    border: none;
    box-shadow: none;
}

/* Ajouter un effet de flou à une boîte */
.boite-blurry {
    backdrop-filter: blur(10px); /* Ajustez la valeur selon l'effet désiré */
    /*background-color: rgba(255, 255, 255, 0.5); /* Ajustez les valeurs RGBA pour obtenir l'effet désiré */
}

.navbar {
    background: transparent;
    border: none;
    box-shadow: none;


}

.nav-link{
    color:white;
}
h1, h4{
    color: #fcc33d;
}
h2{
    color:darkgray;
}

h3{
    text-align: center;
    color:darkgray;
}
.form-label, form-check-label, td, tr, p{
    color:white;
}
th{
    color:black;
}

.navbar-nav .nav-link {
    color:white;/*Couleur des liens du nav*/
    transition: color 0.3s; /* Transition douce lors du changement de couleur */
}

.navbar-nav .nav-link:hover {
    color: #fcc33d; /* Changer la couleur au survol */
}


.navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0; /* Retirer le padding du dernier élément pour éviter un espace supplémentaire sur la droite */
}

.logo-img {
    max-width: 100px; /* Vous pouvez ajuster la taille du logo ici */
    max-height: 100px; /* Vous pouvez ajuster la hauteur maximale ici */
}

/* Ajouter un style pour le bouton de la barre de navigation lorsqu'elle est réduite (version mobile) */
.navbar-toggler {
    border-color: #ff5733;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 87, 51, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.container {
    margin-bottom: 100px; /* ajoutez une marge en bas au conteneur principal */
}

footer {
    background-color: rgba(51, 51, 51, 0.5); /* La couleur de fond avec une transparence de 0.5 */
    color: #fff;
    padding: 20px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Ajustez la hauteur comme désiré */
    flex-direction: column; /* Aligner les éléments en colonne */
    margin-top:50px;
}


.logo-img {
    width: 100px;  /* Ajustez la valeur comme nécessaire */
    height: auto;  /* Maintient le ratio d'aspect */
}



/*animation slide de droite à gauche pour la transition des pages*/
/*@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
        background-image: linear-gradient(to left, yellow, transparent);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        background-color: transparent;
    }
}


.content {
    animation: slideInFromRight 1s forwards;
    transition: all 0.5s;

}*/

/*Animation slide en arrière en avant*/
.content {

    transition: transform 0.5s; /* Ajout de la transition */
}

@keyframes shrink {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes grow {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.shrink {
    animation: shrink 0.5s forwards;
}

.grow {
    animation: grow 0.5s forwards;
}
